{% extends "base.html" %}
{% set pagetitle = "archives" %}

{% block title %}{{ SITENAME }} - {{ pagetitle }}{% endblock %}

{% block header %}
{% import 'blocks/header.html' as h with context %}
{{ h.header('page-header',SITENAME,"%s - %s" % (pagetitle,h.sub(dates|count))) }}
{% endblock header %}

{% block content %}
{% for article in dates %}
<article class="archive">
<h3 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
<span class="post-meta">
{% for author in article.authors %}
<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
{% endfor %} |
<a href="{{ SITEURL }}/archives.html"><time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time></a> |
<a href="{{ SITEURL }}/categories.html"><span class="icon-category"> </span></a><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
{% if article.translations %}
| <span class="icon-earth"> </span>
{% for translation in article.translations %}
<a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
{% endif %}
 | <a href="{{ SITEURL }}/tags.html"><span class="icon-tags"></span></a>
{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
</span>
</article>
{% endfor %}

{% endblock content %}
