{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block header %}
{% import 'blocks/header.html' as h with context %}
{{ h.header('page-header',SITENAME,self.title()) }}
{% endblock header %}

{% block content %}
<article class="post">
<section class="post-content">
{{page.content}}
</section>
</article>
{% endblock content %}
