{% extends "base.html" %}
{% set pagetitle = "tags" %}

{% block title %}{{ SITENAME }} - {{ pagetitle }}{% endblock %}

{% block header %}
{% import 'blocks/header.html' as h with context %}
{{ h.header('page-header',SITENAME,"%s - %s" % (pagetitle,h.sub(tags|count,'tag'))) }}
{% endblock header %}

{% block content %}
<article class="post post-content">
{% for tag, articles in tags|sort %}
<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }}){% if not loop.last %}, {% endif %}
{% endfor %}
</article>
{% endblock content %}
